.main {
  margin: 20px;
  background-color: #ccc5b9;
  color: #fffcf2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.LinkedIn:hover {
  color: #eb5e28;
}

.LinkedIn{
  font-size: 20px;
  display: block;
  text-align: center;
  
}


.card {
  box-shadow: 6px 10px #eb5e28;
}

.card {
  
  margin: 300px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 600px;
  box-shadow: 2px;
  background-color: #252422;
  border-radius: 22px;
  border-bottom: 30px solid #403d39;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto 20px;
  
}


.card-info {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
